 __pycache__
.pytest_cache
.mypy_cache

*.pyc
.vscode
settings.json

# Ignore Python virtual environment directories
virtualenv/*
venv/
env/
.venv/
.env/

invertermodbustomqtt.service
.~lock.*
protocols/*custom*
protocols/*/*custom*
protocols/*override*
protocols/*/*override*
classes/transports/*custom*

#ignore pypi / pyproject.toml output 
dist/*
build/*
multi_protocol_gateway.egg-info/*

backlogs/*

#ignore dumps for dev
tools/dumps/*
.python-version
uv.lock

ruff.toml
pyproject.toml

logs/*
files_to_ignore.txt

config/*.*
config/backups/*.*
**/__pycache__/
classes/WebServer/**/__init__.py
config/data-db/*.*

tools/mapped_columns.csv
classes/WebServer/static/annotation-editor.html
scripts/*.*
.stylelintignore.txt
stylelint.config.mjs
lint-css.yml
package.json
stylelintrc.json
protocols/migrate_code_maps.py

