 __pycache__
*.pyc
.vscode
settings.json

# Ignore Python virtual environment directories
virtualenv/*
venv/
env/
.venv/
.env/

invertermodbustomqtt.service
.~lock.*
protocols/*custom*
protocols/*/*custom*
protocols/*override*
protocols/*/*override*
classes/transports/*custom*

#ignore pypi / pyproject.toml output 
dist/*
build/*
python_protocol_gateway.egg-info/*

#ignore inflxudb files
inflxudb_backlog/*

#ignore dumps for dev
tools/dumps/*
.python-version
uv.lock

ruff.toml
pyproject.toml
pytests/test_timescaledb_out.py

logs/*
files_to_ignore.txt

config/*.*
config/backups/*.*
**/__pycache__/
classes/WebServer/**/__init__.py
config/data-db/mpg_staging.db
config/data-db/mpg_staging.db-shm
config/data-db/mpg_staging.db-wal
