pymodbus
paho-mqtt
pyserial
python-can
influxdb
influxdb3-python
sqlalchemy-timescaledb
sqlalchemy
psycopg2-binary
alembic
tzlocal
fastapi
pydantic
uvicorn[standard]     # for running FastAPI applications
jinja2                # for HTML templating in FastAPI
python-multipart      # required for form parsing in FastAPI
markdown              # for rendering Markdown in FastAPI docs
pygments              # for rendering Markdown in FastAPI docs
pymdown-extensions    # for rendering Markdown in FastAPI docs
watchdog              # file watcher
aiofiles              # static file serving
Pygments              # for syntax highlighting in FastAPI docs
python-telegram-bot   # for Telegram messaging support
prometheus_client     # for prometheus metrics support
typing_extensions     # for strict typing support in Python versions < 3.11

