[general]
log_level = DEBUG
enable_concurrency = false

[logging]
log_dir = logs
log_file = gateway.log
level = INFO
# weekly | daily | size
rotation = weekly         
# Monday rollover
when = W0                  
interval = 1
# keep 4 weeks
backup_count = 4           
# 100MB (only if size-based)
max_bytes = 104857600      
console = true

[transport.modbus_tcp] 
log_level = DEBUG
transport = modbus_tcp
protocol_version = eg4_18kpv
analyze_protocol = false
write = false
host = 10.17.2.65
port = 502
bridge = transport.timescaledb
read_interval = 15

[transport.timescaledb]
log_level = DEBUG
transport = timescaledb
host = 10.17.2.42
port = 5431
database = solar1
username =  your_user_name_here
password = your_password_here

# TimescaleDB Device settings.  Changing any of these will create a new device in the database.
manufacturer = EG4
model = 18KPV
serial_number = 4066670074

### All of the below are optional and are set to defaults if not specified
# force float coerces all values obtained to be of the float type.
force_float = true

# persistent backlog settings
enable_persistent_storage = true
backlog_storage_path = timescaledb_backlog
backlog_file_name = no_connect_backlog

# max data points to store in backlog
max_backlog_size = 10000
# seconds-->  equal to 24 hours
max_backlog_age = 86400 

# TSDB Connection monitoring settings
reconnect_attempts = 5
# minutes
reconnect_delay = 5
# Exponential backoff settings (reconnect delay increases exponentially on each failure)
use_exponential_backoff = true
# minutes --> 5 hours
max_reconnect_delay = 300

## hypertable and rollup options
# changing rollup settings after data has been written, will result in automatic view deletions and rebuilds
migrate_data = True
enable_compression = True
enable_rollups = True
# Seconds between rollup refreshes (6 hours)
auto_refresh_interval = 21600
enable_auto_refresh = True
drop_after = 1 year

# stale data cleanup settings minutes --> 5 hours
stale_data_timeout = 300

# pushover settings / disable if you don't use pushover.
enable_pushover = True
pushover_token = your_token_here
pushover_user = your_user_key_here