[general]
read_mode = interleaved   # sequential | concurrent | interleaved

[logging]
log_dir = logs
log_file = PPG.log
level = DEBUG
# weekly | daily | size
rotation = weekly         
# Monday rollover
when = W0                  
interval = 1
# keep 4 weeks
backup_count = 4           
# 100MB (only if size-based)
max_bytes = 104857600
console = true


[eg4_battery_1]
log_level = DEBUG
transport = eg4_II_s_rs485
protocol_version = eg4_ll_s
write = false
port = /dev/ttyUSB0
baud = 9600
slave_id = 2
read_interval = 10
bridge = timescaledb

[eg4_battery_2]
log_level = DEBUG
transport = eg4_II_s_rs485
protocol_version = eg4_ll_s
write = false
port = /dev/ttyUSB0
baud = 9600
slave_id = 3
read_interval = 10
bridge = timescaledb
######################################
# if using a waveshare modbus tcp gateway, use this config instead of the above two serial configs
[eg4_battery_1]
protocol_version = eg4_ll_s
transport = modbus_eg4_ll_s_tcp
write = false
host = 192.168.1.100    # Waveshare IP address
port = 4196             # Waveshare default Modbus TCP port (check your model)
slave_id = 2
read_interval = 10
timeout = 7
retries = 3
bridge = timescaledb

[eg4_battery_2]
protocol_version = eg4_ll_s
transport = modbus_eg4_ll_s_tcp
write = false
host = 192.168.1.100    # Waveshare IP address
port = 4196             # Waveshare default Modbus TCP port (check your model)
slave_id = 3
read_interval = 10
timeout = 7
retries = 3
bridge = timescaledb